.directory
#java specific
*.class

#netbeans ignore peronal stuff
nbproject/

# generic files ignore
*.lock
*.DS_Store
*.swp
*.out

#package files
*.jar
*.war
*.ear

/ejercicio_1/build/
/ejercicio_2/build/
/ejercicio_3/build/
/ejercicio_4/build/
/ejercicio_5/build/
/evaluacionPractica/build/
/EvaluacionPractica2/build/
/evalucionPracticaAvion/build/
/transporteHerencia/build/
/TransporteHerencia/build/
/TransporteHerencia/dist/
/PersonaHerencia/build/
/empresaTransporte/build/
/empresaTransporte/dist/
/menuArray/build/
/menuArray/dist/
/theLastTour/build/
/theLastTour/dist/
/CrudPersona/build/